@font-face {
  font-family: 'GilroyExtraBold';
  src: local('GilroyExtraBold'),
    url(./fonts/Gilroy-ExtraBold.otf) format('truetype');
}

@font-face {
  font-family: 'GilroyLight';
  src: local('GilroyLight'), url(./fonts/Gilroy-Light.otf) format('truetype');
}

* {
  font-family: GilroyLight;
}
